<h1><%= course.title %></h1>

<hr>

<section>
<h2>Instructors</h2>
<ul>
<% courseUsers
   .filter(u => u.role == 'instructor')
   .forEach((courseUser) => { 
   %>
   <li><%= courseUser.full_name %></li>
<% }); %>
</ul>
</section>

<p>
   <a href="<%= `/c/${course.course_id}/extra_credit` %>" class="btn btn-primary">
   Calculate extra credit eligiblity
   </a>
</p>

<section class="card">
<div class="card-body">
<h2>Top students</h2>
<table class="table">
<thead>
<tr>
	<th>Rank</th>
	<th>Name</th>
	<th># Answers</th>
<tr>
</thead>
<tbody>
<% topStudents.forEach((user, i) => { %>
   <tr>
   <td><%= i+1 %></td>
   <td><%= user.full_name %></td>
   <td><%= user.count_questions_answered %></td>
   </tr>
<% }) %>
</tbody>
</table>
</div>
</section>